/* Font css */
.dancing-script-landingPageh1 {
  font-family: "Dancing Script";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* landing page styles */
.landingPage {
  margin-top: 190px;
  margin-left: 250px;
}

.landingNav {  
  display: flex;  
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px;
  background-color: white;
} 

.landingNavLogo {
  color: maroon;
  font-size: 1.3rem;
  margin-left: 10px;
}

.landingNavlinks {   
  display: flex; 
  justify-content: center; 
  gap: 100px; 
  padding-top: 10px;
  padding-left: 60px;
}  

.landingNavlinks2 {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  margin-right: 10px;
}

.landingNavlinks a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.landingNavlinks a:hover {
  color: rgb(2, 126, 203);
}

.signUpbtn:hover {
  background-color: #dddddd;
}

.landingPage h1 {
  font-size: 7rem;
}

.landingIcons {
  color: maroon;
  padding-left: 30px;
}

.landingIcons i {
  padding-left: 60px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.landingPage button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 30%;
}

.landingGallery {
  margin-top: 50px;
  margin-left: 20px;
}

.landingGallery img {
  width: 20%;
  height: 20%; 
  margin-right: 5px;
}

.aboutSections {
  margin-top: 110px;
  margin-left: 50px;
  margin-bottom: 100px;
}

.aboutSection {
  display: flex;
  margin-bottom: 50px;
  width: 60%;
  border-radius: 10px;
  padding: 10px;
  border-width: 1px;
  box-shadow:0 0 30px rgb(221, 221, 185);

}

.aboutSection img {
  width: 30%;
  height: 30%;
  border-radius: 20px; /* Rounds the corners for a softer look */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.footer {
  bottom: 0;
  right: 0;
  left: 0;
  /* background-color: #ececec; */
  background-color: whitesmoke;
  text-align: center;
  padding: 30px;
  margin-top: 50px;
}

/* Log in page styles */
.loginPage {
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 0 .5rem 1rem grey;
  border-radius: 10px;
  padding: 7px;
  border-width: 1px;
}

.loginPage #loginSubmit {
  width: 72%;
}

.loginHeader {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.loginForm input {
  border-radius: 10px;
  padding: 7px;
  border-width: 1px;
  padding-left: 45px;
}

.loginIcon {
  position: absolute;
  top: 50%;
  left: 15px; /* adjust as needed */
  transform: translateY(-50%);
  color: #999;
  font-size: 15px; /* or your preferred size */
  pointer-events: none; /* so it doesn't block input interactions */
}

.loginForm label {
  display: block; 
  margin-top: 25px;
  margin-bottom: 10px;
  align-self: flex-end;
}

#loginSubmit {
  margin-top: 25px;
  padding: 8px;
  cursor: pointer;
  width: 100%;
}

/* Sign up page styles */
.signUpPage {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 0 .5rem 1rem grey;
  border-radius: 10px;
  padding: 7px;
  border-width: 1px;
  font-size: .9rem;
}

.signUpHeader {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.signUpForm {
  padding-left: 30px;
}

.signUpIcon {
  position: absolute;
  top: 50%;
  left: 10px; /* adjust as needed */
  transform: translateY(-50%);
  color: #999;
  font-size: 15px; /* or your preferred size */
  pointer-events: none; /* so it doesn't block input interactions */
}

.signUpForm input {
  border-radius: 10px;
  padding: 5px;
  border-width: 1px;
  padding-left: 45px;
}

.signUpForm label {
  display: block; 
  margin-top: 25px;
  margin-bottom: 10px;
}

.signUpSubmit {
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
}

.signUph5 {
  text-align: center;
}

/* home page styles */
.homeHeader {
  margin-top: 150px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-left: 45%;
  margin-right: 130px;
}

.homeHeader h2 {
  font-size: 3.5rem;
}

.homeSearch {
  text-align: center;
}

.homeSearch input {
  margin-left: 5px;
  border-radius: 10px;
  padding: 7px;
  border-width: 1px;
  font-size: 15px;
}

.homeCards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 70px;
  margin-left: 250px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.homeCard {
  display: flex;
  border-radius: 10px;
  border-width: 5px;
  background-color: whitesmoke;
  overflow: hidden;
  height: 20rem;
  width: 60rem;
}

.cardImg {
  width: 50%; 
  height: 100%; 
  overflow: hidden;
}

.cardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.cardBody {
  margin-top: 30px;
  margin-left: 30px;
}

.cardBody h6 {
  margin-bottom: 20px;
}

.applyLink {
  bottom: 0;
  margin-top: 45px;
  cursor: pointer;
  color: rgb(1, 77, 124);
}

.applyLink:hover {
  color: rgb(2, 126, 203)
}

/* Nav bar styles */
.navbar {  
  display: flex;  
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  z-index: 1050;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* padding: 30px; */
  background-color: white;
  padding-top: 10px;
} 

.navLogo {
  display: flex;  
  padding-top: 1px;
  padding-left: 7rem;
  color: maroon;
}

.navLinks  {   
  display: flex;  
  gap: 80px;
}  

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navLink small {
  margin-top: 5px;
  text-decoration: none;
  font-size: .7rem;
  color: black;
}

.navLinks i {
  font-size: 1.5rem; 
}

.navLink2 {
  padding-right: 9rem;
  font-size: 2rem;
}

.navLinks a i {
  color: inherit!;
}

.navLinks i:hover, .navLink2 i:hover {
  color: rgb(2, 126, 203) !important;
}

/* User profile styles */
.logOutNav {
  margin-top: 60px;
  display: flex;
  justify-content: flex-start;
  padding-left: 300px;
  position: fixed;
  z-index: 800;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logOutNav div:hover {
  color: rgb(2, 126, 203);
}

.logOutNav a {
  text-decoration: none;
  margin-left: 5px;
  /* font-size: 1.2rem; */
}


.profileInfo {
  margin-left: 25%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  margin-top: 40px;
}

.profileInfoDiv {
  display: flex;
  margin-top: 30px;
}

.profileInfo label {
  color: #999;
}

.labelDiv {
  width: 210px;
}

.profileInfo input {
  padding-left: 13px;
  outline: none;
  border-style: none none solid none;
  border-color: #999;
}

.profileInfo input:focus {
  outline: none;
  border-style: none none solid none;
}

.profileButtons {
  margin-left: 210px;
  padding-top: 30px;
  display: flex;
  gap: 10px;
}

/* adding pet page */
.addPet {
  margin-top: 100px;
  margin-bottom: 30px;
}

.addPetForm {
  margin-left: 250px;
}

.addPetForm input, textarea {
  border-radius: 10px;
  padding: 7px;
  border-width: 1px;
  font-size: 15px;
  padding-left: 15px;
}

.addPetForm label {
  display: block; 
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 18px;
}

/* applications sent details */
.appDetails {
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.appImg {
  margin-left: 25%;
  width: 50%;
  height: 20rem;
}

.appImg img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.appDetails h2 {
  padding-bottom: 50px;
}

/* review form  */
.addReview {
  margin-left: 500px;
}

.addReview input, textarea {
  border-radius: 10px;
  padding: 7px;
  border-width: 1px;
  font-size: 15px;
  padding-left: 15px;
}

.addReview label {
  display: block; 
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 18px;
}

/* about styling */
.aboutHeaders {
  text-align: center;
  color: maroon;
}